
<div class="details-style">
<h1>{{shop.name}}</h1>
<span>{{shop.location.type}}</span>
<p>Telefone: {{shop.phone}}</p>

  {{#each shop}}
    <a href="/home">{{this.services}}</a>
  {{/each}}

<h1>{{hotel.name}}</h1>
<span>{{hotel.location.type}}</span>
<p>{{hotel.phone}}</p>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7p3WOL1O2uSoWePmU-Ybi9-sdpxR9Zho"></script>
<div id="map" style="height: 500px; width: 700px;"></div>

<a class="badge badge-info details-sizing" href="/home">Voltar para a Home</a>
</div>