<form id="user-form" action="/user" method="post">
  <div class="form-row">
    <div class="col">
      <label for="inputAddress">CPF</label>
      <input type="text" name="CPF" value="{{ user.CPF }}" class="form-control">
    </div>
    <div class="col">
      <label for="inputAddress">Nome</label>
      <input type="text" name="name" value="{{ user.name }}" class="form-control">
    </div>
    <div class="col">
      <label for="inputAddress">Sobrenome</label>
      <input type="text" name="lastName" value="{{ user.lastName }}" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Endereço</label>
    <input type="text" name="streetAddress" value="{{ user.streetAddress }}" class="form-control" id="inputAddress">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name="city" value="{{ user.city }}" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">Estado</label>
      <select id="inputEstado" name="state" value="{{ user.state }}" class="form-control">
        <option>AL</option>
        <option>AP</option>
        <option>AM</option>
        <option>BA</option>
        <option>CE</option>
        <option>DF</option>
        <option>ES</option>
        <option>GO</option>
        <option>MA</option>
        <option>MT</option>
        <option>MS</option>
        <option>MG</option>
        <option>PA</option>
        <option>PB</option>
        <option>PR</option>
        <option>PE</option>
        <option>PI</option>
        <option>RJ</option>
        <option>RN</option>
        <option>RS</option>
        <option>RO</option>
        <option>RR</option>
        <option>SC</option>
        <option>SP</option>
        <option>SE</option>
        <option>TO</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputCEP">CEP</label>
      <input type="text" name="cep" value="{{ user.cep }}" class="form-control" id="inputCEP">
    </div>
    <div class="form-group col-md-2">
      <label for="inputCEP">Fone:</label>
      <input type="text" name="phone" value="{{ user.phone }}" class="form-control" id="inputPhone">
    </div>
  </div>
  <div class="form-group">
  </div>
  <button type="submit" class="btn btn-primary">Gravar</button>
</form>