<form id="user-form" action="/user" method="post">
  <div class="form-row">
    <div class="col">
      <input type="text" name="CPF" class="form-control" placeholder="000.000.000-00">
    </div>
    <div class="col">
      <input type="text" name="name" class="form-control" placeholder="Nome">
    </div>
    <div class="col">
      <input type="text" name="lastName" class="form-control" placeholder="Sobrenome">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Endereço</label>
    <input type="text" name="streetAdress" value="{{ users.streetAddress }}"class="form-control" id="inputAddress" placeholder="Rua dos Bobos, nº 0">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name="city" value="{{ users.city }}"class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">Estado</label>
      <select id="inputEstado" name="state" value="{{ users.state }}" class="form-control">
        <option selected>Escolher...</option>
        <option>AL</option>
        <option>AP</option>
        <option>AM</option>
        <option>BA</option>
        <option>CE</option>
        <option>DF</option>
        <option>ES</option>
        <option>GO</option>
        <option>MA</option>
        <option>MT</option>
        <option>MS</option>
        <option>MG</option>
        <option>PA</option>
        <option>PB</option>
        <option>PR</option>
        <option>PE</option>
        <option>PI</option>
        <option>RJ</option>
        <option>RN</option>
        <option>RS</option>
        <option>RO</option>
        <option>RR</option>
        <option>SC</option>
        <option>SP</option>
        <option>SE</option>
        <option>TO</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputCEP">CEP</label>
      <input type="text" name="cep" value="{{ users.cep }}" class="form-control" id="inputCEP">
    </div>
    <div class="form-group col-md-2">
      <label for="inputCEP">Fone:</label>
      <input type="text" name="phone" value="{{ users.phone }}" class="form-control" id="inputPhone">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input name="check" class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Clique em mim
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Gravar</button>
</form>